*{
    overflow-x: hidden;
}

.containerExterno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    gap: 4rem;
    background-color: hsla(200, 40%, 30%, 0.4);
    background-image: url("../../assets/background.jpg");
}

.containerInterno {
    background-color: rgb(217, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(217, 212, 212);
    border-radius: 1rem;
    width: clamp(25rem, 50vw, 40rem);
    height: 30vh;
}

.titulo {
    font-family: 'Cookie', cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: clamp(1.9rem, 3.5vw, 5rem);
    color: black;
    text-shadow: 
    2px 2px 0px white, /* Sombra à direita e abaixo da letra */
    -2px -2px 0px white, /* Sombra à esquerda e acima da letra */
    2px -2px 0px white, /* Sombra à direita e acima da letra */
    -2px 2px 0px white; /* Sombra à esquerda e abaixo da letra */

}

.tituloInput {
    background-color: rgb(217, 212, 212);
    display: flex;
    margin-top: 1rem;
    text-align: center;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    height: 10vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    width: 12rem;
    height: 2.2rem;
    font-size: 1.3rem;
}

.botao{
    margin-top: 1rem;
    width: 8rem;
    height: 2.2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
}

@keyframes para {
    0% {
      background-position: 
        0 140%,
        0 15%,
        0 -15%,
        0 50%,
        0 100%;
    }
    100% {
      background-position: 
        0px 140%,
        0px 15%,
        2000px -15%,
        0px 50%,
        0px 100%;
    }
  }
