*{
    overflow-x: hidden;
}

.containerExterno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    gap: 4rem;
  
    background-color: hsla(200, 40%, 30%, 0.4);
    background-image:   
      url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
      url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
      url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
      url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 
      0 150%,
      0 100%,
      0 100%,
      0 100%,
      0 100%;
    background-size: 
      1500px,
      3200px,
      800px 300px,
      3500px,
      700px 400px;
    animation: para 50s infinite linear;
  }

.containerInterno {
    background-color: rgb(217, 212, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(217, 212, 212);
    border-radius: 1rem;
    width: clamp(25rem, 50vw, 40rem);
    height: 30vh;
}

.titulo {
    text-align: center;
    font-size: clamp(1.9rem, 3vw, 4rem);
    color: blue;
    text-shadow: 
    2px 2px 0px white, /* Sombra à direita e abaixo da letra */
    -2px -2px 0px white, /* Sombra à esquerda e acima da letra */
    2px -2px 0px white, /* Sombra à direita e acima da letra */
    -2px 2px 0px white; /* Sombra à esquerda e abaixo da letra */

}

.tituloInput {
    background-color: rgb(217, 212, 212);
    display: flex;
    margin-top: 1rem;
    text-align: center;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    height: 10vh;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    width: 12rem;
    height: 2.2rem;
    font-size: 1.3rem;
}

.botao{
    margin-top: 1rem;
    width: 8rem;
    height: 2.2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
}

@keyframes para {
    100% {
      background-position: 
        -5000px 90%,
        -800px 100%,
        500px 100%,
        1000px 100%,
        400px 100%;
    }
  }